<h1>List of All Wikis</h1>
<div id="title-divider"></div>
<div>
	Here is the list.
	I swear its here
	<div class="row">
		
		<div class="col-md-10">
			
			<% @wikis.each do |wiki| %>
				<div class="wiki-container">
					<h3><%= link_to wiki.title, wiki_path(wiki.id), method: :get %></h3>
					<p class="wiki-body"><%= wiki.body %></p>
				</div>
			<% end %>
	
		</div>
		<div class="col-md-2">
			<%= button_to "New Wiki", new_wiki_path, class: "btn btn-lg btn-primary", method: :get %>
		</div>
	
	</div>